@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  text-align: center;
  background-color: #18294f;
  color: #fff;
}

h1 {
  font-family: "Noto Serif", sans-serif;
  margin: 0;
  padding-top: .5em;
}

nav ul {
  list-style-type: none;
  padding-bottom: 1em;
  line-height: 2;
  padding-left: 0;
  margin-bottom: 0;
  font-family: Heebo, sans-serif;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: .5em;
}

nav a:hover {
  background-color: #6d8ff0;
}

.store {
  display: block;
  width: 100%;
}

.img-flex {
  display: block;
  width: 100%;
  margin: 0;
}

.popcorn,
.truffle,
.cupcake {
  padding-top: 2.5em;
}

main {
  background-color: #6d8ff0;
  color: #fff;
}

main a {
  text-decoration: none;
  color: #fff;
  padding: .3em .75em;
  margin: 1em;
  font-family: Heebo, sans-serif;
  font-weight: bold;
  border: 3px solid #18294f;
  border-radius: 8px;
}

main a:hover {
  background-color: #18294f;
  border-radius: 8px;
}

h2,
h3,
h4 {
  font-family: Heebo, sans-serif;
}

h4 {
  color: #fff;
  margin-top: 0;
  font-size: 1.125rem;
}

p {
  font-family: "Noto Serif", serif;
}

footer {
  background-color: #18294f;
  text-align: center;
}

footer h4 {
  padding-top: 1em;
}

@media only screen and (min-width: 20em) {

  .placeholder {
    display: none;
  }

  h2,
  h3,
  p {
    padding: 0 1rem;
  }

  .icon {
    max-width: 33.3333%;
    margin: 0 auto;
  }

  main p {
    padding-bottom: 1.3rem;
    font-size: .95rem;
  }

  .welcome p {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .discover h2,
  .discover p {
    text-align: center;
  }

}

@media only screen and (min-width: 25em) {

  h3 {
    font-size: 1.4rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  nav li {
    display: inline-block;
  }

  nav a:hover {
    border-radius: 8px;
  }

  .store {
    width: 100%;
    padding: 1rem 0 0 1rem;
  }

  .welcome h2,
  .welcome p {
    width: 100%;
    margin: 0;
    padding-top: 1rem;
  }

  .welcome {
    display: flex;
  }

  .coco {
    flex-wrap: wrap;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .one,
  .two,
  .three,
  .four {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1em;
  }

  .two,
  .four {
    margin-right: 1em;
  }

  .popcorn,
  .truffle,
  .cupcake {
    padding-top: 0;
  }

  .one h3,
  .one p,
  .one .shop,
  .two h3,
  .two p,
  .two .shop,
  .three h3,
  .three p,
  .three .shop,
  .four h3,
  .four p,
  .four .shop {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .products p {
    flex-grow: 1;
  }

  .products a {
    text-align: center;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    background-color: transparent;
    position: relative;
    max-height: 20em;
    overflow: hidden;
  }

  .placeholder {
    display: block;
    width: 100%;
  }

  .navigation {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    color: #000;
  }

  nav a {
    border: 3px solid #18294f;
    border-radius: 8px;
    color: #000;
  }

  footer nav a {
    color: #fff;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .one,
  .two,
  .three,
  .four {
    width: 20%;
  }

  .two,
  .four {
    margin-right: 0;
  }

}
